.map-container > div:first-of-type {
    width: 500px !important;
    height: 300px !important;
}
.map-container {
    width: 500px;
    height: 300px;
    margin: auto;
}

.day-button-container {
    margin-top: 20px;
    margin-bottom: 10px;
}

.nav-fill {
    width: 100%;
}

.hourly-weather {
    margin-bottom: 10px;
}

.hourly-weather-description {
    margin-bottom: 1px;
}

.temperature-container {
    border: 2px solid #737275;
    border-radius: 10px;
    background-color: #bbd0e5;
}
